header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  margin-right: 30px;
  margin-left: 30px;
  top: 0;

  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header div {
  display: flex;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
}

header a:hover {
  text-decoration: underline;
}

header a img {
  width: 25px;
  height: 25px;
}

header a h2 {
  margin-left: 1px;
}