html {
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: white;
}

@media (max-width: 1080px) {
    html {
        margin-left: 20px;
        margin-right: 20px;
    }
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: black;
}

.video-background {
  position: fixed;
  bottom: 0;       /* stick to bottom */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom; /* align cropping toward bottom */
  z-index: -1;
  filter: blur(10px);
}



.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 40vh;
}
